/* background options */
/*
https://www.toptal.com/designers/subtlepatterns/seigaiha/
https://www.toptal.com/designers/subtlepatterns/japanese-asanoha/
https://www.toptal.com/designers/subtlepatterns/japanese-sayagata/
https://www.toptal.com/designers/subtlepatterns/contemporary-china/
https://www.toptal.com/designers/subtlepatterns/swirl-2/
https://www.toptal.com/designers/subtlepatterns/contemporary-china-2/
https://www.toptal.com/designers/subtlepatterns/ep-natural-white/
https://www.toptal.com/designers/subtlepatterns/topography/
*/

*{
	box-sizing: border-box;
}

html, body{
	min-height: 100vh;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	display: block;
}

.main_content{
	min-height: 100vh;
	width: 100%;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/seigaiha.png);
	/*background-color: #323875;*/
	background-position: center center;
}
.main_content--wrapper{
	width: 80%;
	max-width: 760px;
	padding: 40px;
	box-shadow: 2px 2px 15px #827d7d;
	background-color: #323875;
	color: #eeeeee;
	border-radius: 8px;
}

.content--main_heading{
	text-align: center;
	font-family: 'Diplomata SC', cursive;
	font-size: 32px;
	font-weight: 400;
}

.content--sub_heading{
	font-family: 'Parisienne', cursive;
	font-size: 28px;
	font-weight: 400;
}

p, li{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

li{
	margin-bottom: 6px;
}

strong{
	/*font-family: 'Quicksand', sans-serif;
	font-weight: 800;*/
	text-transform: uppercase;
}

a{
	color: #fff;
	position: relative;
	text-decoration: none;
}
a::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	transform: translate3d(-50%,0,0);
	transition: all 0.24s ease;
}
a:hover{
   text-decoration: none;
}

a:hover::after{
	transform: translate3d(-50%,0,0) scale(.9,1);
}

@media screen and (max-width: 650px){
	.main_content--wrapper{
		padding: 20px;
	}
	.content--main_heading{
		font-size: 19px;
	}
	p, li{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
	}
}