// ==========================================================
//
//
//         Style Guide - Buttons
// 
//
// ==========================================================

////////////////////
// Default Styles //
////////////////////


%btn--pill{
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

%btn--ghost_pill{
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

%btn--square{
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&.disabled {
		cursor: none;
		cursor: not-allowed;
		background: #888;
	}
}

%btn--ghost_square{
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&.disabled {
		cursor: none;
		cursor: not-allowed;
		background: #888;
	}
}